<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../static/jquery-3.2.1.min.js"></script>
    <script type="application/javascript">
        function submitForm(){
            //alert($('#addUserForm').serialize());

            $.ajax({
                url:"/addUser", //你的路由地址
                type:"post",
                dataType:"json",
                data: $("#addUserForm").serialize(),
                timeout:30000,
                success:function(data){
                    // 成功登录
                    window.location.reload();
                },
                error:function(){
                    alert("系统错误");
                }
            });
        }

    </script>
</head>
<body>
    <a href="" th:href="'/chat?token='+${token}">聊天</a>
    <br/>
    当前登录人:<b th:text="${user.name}"/>
    <br/>
    <form id="addUserForm">
        <input type="hidden" name="token" th:value="${token}"/>
        <table>
            <tr>
                <td style="text-align: right">姓名:</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td style="text-align: right">用户名:</td>
                <td><input type="text" name="userName"/></td>
            </tr>
            <tr>
                <td style="text-align: right">密码:</td>
                <td><input type="text" name="password"/></td>
            </tr>
            <tr>
                <td style="text-align: right">昵称:</td>
                <td><input type="text" name="nickName"/></td>
            </tr>
            <tr>
                <td style="text-align: right">性别:</td>
                <td><input type="text" name="sex"/></td>
            </tr>
            <tr>
                <td style="text-align: right">角色:</td>
                <td>
                    <select name="userRole">
                        <option value="1">管理员</option>
                        <option value="2">普通用户</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;" colspan="2"><input type="button" value="添加" onclick="submitForm()"/></td>
            </tr>
        </table>

    </form>
    <br/>
    用户列表:
    <table border="1" width="50%">
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>昵称</td>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.nickName}"></td>
        </tr>
    </table>

</body>
</html>